.hdr {
   
    justify-content: center;
    text-align: center;
}

.btn11 { 
    display: flex;
    justify-content: center;
    margin: auto;  
}

#btn1 {
    background-color: rgb(101, 198, 203);
    border-radius: 3px;
    border: 2px solid black;
    padding: 2px 15px;
    text-decoration: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    border: 2px solid black;
    height: 300px;
    width: 500px;
    margin-top: 15px !important;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
}


